.info {
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  text-align: justify; /* Розтягує текст по ширині контейнера */
  text-align-last: left; /* Вирівнює останній рядок по лівому краю */
  gap: 1rem;
  /* width: 250px; */
}
